/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #faf7f9;
    color: #444;
}

/*  Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffffcc;
    backdrop-filter: blur(8px);
}

.logo {
    font-family: 'Playfair Display', serif;
    color: #b76e79;
    font-size: 1.3rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.9rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #b76e79;
}

/*  Heading */
.heading {
    text-align: center;
    padding: 60px 20px 30px;
}

.heading h1 {
    font-family: 'Playfair Display', serif;
    color: #b76e79;
    font-size: 2rem;
}

.heading p {
    color: #777;
    font-size: 0.9rem;
    margin-top: 8px;
}

/*  Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 30px 40px;
    max-width: 1100px;
    margin: auto;
}

/* Product Card */
.item {
    background: #fff;
    border-radius: 15px;
    padding: 12px;
    text-align: center;
    transition: all 0.3s ease;
}

.item:hover {
    transform: translateY(-6px);
}

/* Image */
.item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.4s ease;
}

.item:hover img {
    transform: scale(1.05);
}

/* Product Name */
.item h3 {
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: 500;
}

/* Price */
.item p {
    font-size: 0.85rem;
    color: #b76e79;
    margin-top: 5px;
}

/* Footer */
.footer {
    background: #ffffff;
    margin-top: 60px;
    padding: 40px 20px 20px;
    border-top: 1px solid #eee;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    gap: 30px;
}

/* Brand */
.footer-brand h2 {
    font-family: 'Playfair Display', serif;
    color: #b76e79;
    font-size: 1.3rem;
}

.footer-brand p {
    margin-top: 10px;
    font-size: 0.85rem;
    color: #777;
}

/* Links */
.footer-links h3,
.footer-contact h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 6px;
}

.footer-links a {
    text-decoration: none;
    color: #555;
    font-size: 0.85rem;
}

.footer-links a:hover {
    color: #b76e79;
}

/* Contact */
.footer-contact p {
    font-size: 0.85rem;
    color: #777;
    margin-bottom: 5px;
}

/* Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
    color: #aaa;
}

/* Responsive */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .grid {
        padding: 20px;
    }

    .heading h1 {
        font-size: 1.5rem;
    }
}